<ion-content padding>
  <ion-grid>
    <ion-row align-items-center style="height: 94%">
      <ion-col> <video #videoElement></video> </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col>
        <ion-button
          (click)="capture()"
          [disabled]="!type"
          class="btn btn-primary"
        >
          {{this.image ? 'Retake' : 'Capture'}}
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="close()" class="btn btn-primary">
          Done
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-select placeholder="Select One" [(ngModel)]="type">
          <ion-select-option value="pants">Pants</ion-select-option>
          <ion-select-option value="shirt">Shirt</ion-select-option>
          <ion-select-option value="jacket">Jacket</ion-select-option>
          <ion-select-option value="sweater">Sweater</ion-select-option>
          <ion-select-option value="shoes">Shoes</ion-select-option>
          <ion-select-option value="hat">Hat</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
