<ion-content padding>
  <ion-grid>
    <ion-row align-items-center style="height: 94%">
      <ion-col size="12">
          <div>
            <video #videoElement></video>
          </div>
      </ion-col>
    </ion-row>
    
  <ion-row align-items-center>
    <ion-col size="12">
      <div>
        <ion-button (click)="capture()" class="btn btn-primary">Capture</ion-button>
        <ion-button (click)="close()" class="btn btn-primary">Done</ion-button>
      </div>
    </ion-col>
   </ion-row>
  </ion-grid>
</ion-content>
