<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>Welcome to Closet Culler</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h3 text-align="center"> Login </h3>
  <ion-list>
    <ion-item>
      <ion-label color="primary">Email</ion-label>
      <ion-input placeholder="johndoe@gmail.com" [(ngModel)]="username" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Password</ion-label>
      <ion-input type=password placeholder="*************" [(ngModel)]="password" ></ion-input>
    </ion-item>
  </ion-list>
  <ion-button shape="round" (click)="login()">Login!</ion-button>
  <ion-button shape="round" (click)="loginGoogle()">Login with Google</ion-button>
  <br><br><br><br><br>
  <ion-button shape="round" (click)="Register()">Create an account!</ion-button>
</ion-content>
