<ion-header>
  <ion-toolbar>
    <ion-title>{{ type }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/(home:home)"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let item of (items$ | async)">
    <ion-img [src]="item.picUrl"></ion-img>
    <ion-card-content>
      <ion-text>Last worn {{ getDays(item.last_worn) }} days ago.</ion-text>
      <ion-toggle (ionChange)='wearingToday(item)'></ion-toggle>
    </ion-card-content>
  </ion-card>
</ion-content>
