<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()"> Logout </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size='6'>
        <ion-card (click)="go('pants')">
          <ion-card-header>
            <ion-card-title>Pants</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-img
              src="https://ksassets.timeincuk.net/wp/uploads/sites/46/2015/03/napthumbincopy-920x920.jpg"
            >
            </ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size='6'>
        <ion-card (click)="go('shirt')">
          <ion-card-header>
            <ion-card-title>Shirts</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-img
              src="http://static1.squarespace.com/static/58828a1df7e0ab83a562f0f6/5b3ece24562fa72b1ce2dc51/5b3eced9352f532fb8437a52/1530843127693/?format=1000w"
            >
            </ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size='6'>
        <ion-card (click)="go('jacket')">
          <ion-card-header>
            <ion-card-title>Jackets</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-img
              src="https://www.patagonia.com/dis/dw/image/v2/ABBM_PRD/on/demandware.static/-/Sites-patagonia-master/default/dw0b78138c/images/hi-res/27805_COI.jpg?sw=750&sh=750&sm=fit&sfrm=png"
            >
            </ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size='6'>
        <ion-card (click)="go('sweater')">
          <ion-card-header>
            <ion-card-title>Sweaters</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-img
              src="https://www.patagonia.com/dis/dw/image/v2/ABBM_PRD/on/demandware.static/-/Sites-patagonia-master/default/dwdf8eeeea/images/hi-res/50595_NVYB.jpg?sw=750&sh=750&sm=fit&sfrm=png"
            >
            </ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size='6'>
        <ion-card (click)="go('shoes')">
          <ion-card-header>
            <ion-card-title>Shoes</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-img
              src="https://images-na.ssl-images-amazon.com/images/I/81FbSuBVVoL._UL1500_.jpg"
            >
            </ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size='6'>
        <ion-card (click)="go('hat')">
          <ion-card-header>
            <ion-card-title>Hats</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-img
              src="https://www.patagonia.com/dis/dw/image/v2/ABBM_PRD/on/demandware.static/-/Sites-patagonia-master/default/dw0ced5255/images/hi-res/38016_FEG.jpg?sw=750&sh=750&sm=fit&sfrm=png"
            >
            </ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
